/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Scale down images and embedded videos so they don't overflow their parents */
img, object { max-width: 100%; }

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/*
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;
}
*/


/* ------------------------------------------------------------ */
/* start project-specifc styles below this line */

.homepage {
	font-family: "Jomolhari", 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #222;
	background-image: url("../img/impression-sunrise.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}

/*	Generally, you will only want one container element in
	the document, wrapping around the main content area.
	If you have more than one container, you are probably doing
	something wrong.
*/
.container {
	padding: 0;
	margin: 0;
}

.navbar a {
	text-align: center;
	padding: 1em;
	transform: background-color;
	font-family: 'Raleway', sans-serif;
	color: #22354B;
	font-size: 16px;
	text-decoration: none;
}

.navbar {
	text-align: center;
	margin-left: 0%;
	margin-right: 0%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	display: flex;
	flex-grow: 0;
	flex-shrink: 1;
	flex-wrap: nowrap;
	background-color: rgba(200, 200, 250, 0.5);
	justify-content: center;
	justify-content: space-evenly;
	background-color: rgba(500, 500, 500, 0.3);
}

.navbar a:hover {
	transition-duration: 1s;
	background-color: rgba(100, 100, 200, 0.7);
	background-color: rgba(500, 500, 500, 0.8)
}

.headings-home {
	background-image-align: center;
	margin-left: 0;
	margin-right: 0;
	padding: 2em;
	text-align: center;
	width: 100%;
}

h1 {
	padding-top: 2em;
	padding-bottom: 1em;
	color: #22354B;
	font-size: 110px;
}

h2 {
	color: #22354B;
	font-size: 50px;
}

.homepage-body-text {
	margin-top: 2em;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 5em;
	text-align: center;
	padding: 2em;

	background-color: rgba(251, 251, 251 0.6);
	font-family: 'Raleway';
}




/* ------------------------------------------------------------ */
/* start artists page */
/* ------------------------------------------------------------ */








.artists {
	font-family: "Jomolhari", 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #222;
}

.headings-artists {
	background-image-align: center;
	margin-left: 0;
	margin-right: 0;
	padding: 2em;
	text-align: center;
	width: 100%;
	background-image: url("../img/Pierre-Auguste_Renoir_083.jpg");
	height: 500px;
}

.artists h1 {
	padding: 0;
	font-size: 130px;
	color: #E0D4B9;
	text-align: center;
}

.artists-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 2em;
	font-family: 'Raleway';
}

.pissarro {
	padding: 2em;
	line-height: 1.5em;
	font-size: 35px;
	color: #22354B;
	grid-column: 1 / 2;
	grid-row:  1 / 2;
	margin-top: 35px;
	margin-left: 35px;
	background-color: rgba(224, 212, 185, 0.8);
}

.info-pissarro {
	font-size: 16px;
	line-height: normal;
}

.pissarro-img-1 {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	padding: 2em;
	margin-top: 35px;
	margin-right: 35px;
	background-color: rgba(224, 212, 185, 0.8);
}

.pissarro-img-2 {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	padding: 2em;
	margin-bottom: 1em;
	margin-left: 35px;
	background-color: rgba(224, 212, 185, 0.8);
}

.pissarro-img-3 {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	padding: 2em;
	margin-bottom: 1em;
	margin-right: 35px;
	background-color: rgba(224, 212, 185, 0.8);
}


.degas {
padding: 2em;
line-height: 2em;
font-size: 35px;
color: #22354B;
grid-column: 2 / 3;
grid-row:  3 / 4;
background-color: rgba(224, 212, 185, 0.8);
margin-top: 35px;
margin-right: 35px;
}

.degas-info {
	font-size: 16px;
	line-height: normal;
}

.degas-img-1 {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	padding: 2em;
	background-color: rgba(224, 212, 185, 0.8);
	margin-top: 35px;
	margin-left: 2em;
}

.degas-img-2 {
	grid-column: 2 / 3;
	grid-row: 4 / 5;
	padding: 2em;
	background-color: rgba(224, 212, 185, 0.8);
	margin-bottom: 1em;
	margin-right: 2em;
}

.degas-img-3 {
	grid-column: 1 / 2;
	grid-row: 4 / 5;
	padding: 2em;
	background-color: rgba(224, 212, 185, 0.8);
	margin-bottom: 1em;
	margin-left: 2em;
}

.sisley {
	padding: 2em;
	line-height: 2em;
	font-size: 35px;
	color: #22354B;
	grid-column: 1 / 2;
	grid-row:  5 / 6;
	margin-top: 35px;
	margin-left: 35px;
	background-color: rgba(224, 212, 185, 0.8);
}

.sisley-info {
	font-size: 16px;
	line-height: normal;
}

.sisley-img-1 {
	grid-column: 2 / 3;
	grid-row: 5 / 6;
	padding: 2em;
	margin-top: 35px;
	margin-right: 35px;
	background-color: rgba(224, 212, 185, 0.8);
}

.sisley-img-2 {
	grid-column: 1 / 2;
	grid-row: 6 / 7;
	padding: 2em;
	margin-bottom: 35px;
	margin-left: 35px;
	background-color: rgba(224, 212, 185, 0.8);
}

.sisley-img-3 {
	grid-column: 2 / 3;
	grid-row: 6 / 7;
	padding: 2em;
	margin-bottom: 35px;
	margin-right: 35px;
	background-color: rgba(224, 212, 185, 0.8);
}

.cezanne {
	padding: 2em;
	line-height: 2em;
	font-size: 35px;
	grid-column: 2 / 3;
	grid-row: 7 / 8;
	color: #22354B;
	margin-right: 35px;
	margin-top: 35px;
	background-color: rgba(224, 212, 185, 0.8);
}

.cezanne-info {
	font-size: 16px;
	line-height: normal;
	margin-right: 35px;
	margin-top: 35px;
}

.cezanne-img-1 {
	grid-column: 1 / 2;
	grid-row: 7 / 8;
	padding-top: 12em;
	padding-right: 2em;
	padding-left: 2em;
	padding-bottom: 2em;	margin-left: 35px;
	margin-top: 35px;
	background-color: rgba(224, 212, 185, 0.8);
}

.cezanne-img-2 {
	grid-column: 2 / 3;
	grid-row: 8 / 9;
	padding: 2em;
	margin-right: 35px;
	margin-bottom: 35px;
	background-color: rgba(224, 212, 185, 0.8);
}

.cezanne-img-3 {
	grid-column: 1 / 2;
	grid-row: 8 / 9;
	padding: 2em;
	margin-left: 35px;
	margin-bottom: 35px;
	background-color: rgba(224, 212, 185, 0.8);
}

.monet {
	padding: 2em;
	line-height: 2em;
	font-size: 35px;
	grid-column: 1 / 2;
	grid-row: 9 / 10;
	color: #22354B;
	margin-top: 35px;
	margin-left: 35px;
	background-color: rgba(224, 212, 185, 0.8);
}

.monet-info {
	font-size: 16px;
	line-height: normal;
}

.monet-img-1 {
	padding-top: 8em;
	padding-right: 2em;
	padding-left: 2em;
	padding-bottom: 2em;
	grid-column: 2 / 3;
	grid-row: 9 / 10;
	margin-top: 35px;
	margin-right: 35px;
	background-color: rgba(224, 212, 185, 0.8);
}

.monet-img-2 {
	padding: 2em;
	grid-column: 1 / 2;
	grid-row: 10 / 11;
	margin-bottom: 35px;
	margin-left: 35px;
	background-color: rgba(224, 212, 185, 0.8);
}

.monet-img-3 {
	padding: 2em;
	grid-column: 2 / 3;
	grid-row: 10 / 11;
	margin-bottom: 35px;
	margin-right: 35px;
	background-color: rgba(224, 212, 185, 0.8);
}

.armand {
	padding: 2em;
	line-height: 2em;
	font-size: 35px;
	grid-column: 2 / 3;
	grid-row: 11 / 12;
	background-color: rgba(224, 212, 185, 0.8);
	margin-right: 35px;
	margin-top: 35px;
	color: #22354B;
}

.armand-info {
	font-size: 16px;
	line-height: normal;
}

.armand-img-1 {
	padding-top: 10em;
	padding-right: 2em;
	padding-left: 2em;
	padding-bottom: 2em;
	grid-column: 1 / 2;
	grid-row: 11 / 12;
	margin-left: 35px;
	margin-top: 35px;
	background-color: rgba(224, 212, 185, 0.8);

}

.armand-img-2 {
	padding: 2em;
	grid-column: 2 / 3;
	grid-row: 12 / 13;
	margin-right: 35px;
	margin-bottom: 35px;
	background-color: rgba(224, 212, 185, 0.8);

}

.armand-img-3 {
	padding: 2em;
	grid-column: 1 / 2;
	grid-row: 12 / 13;
	margin-left: 35px;
	margin-bottom: 35px;
	background-color: rgba(224, 212, 185, 0.8);

}

.berthe {
	padding: 2em;
	line-height: 2em;
	font-size: 35px;
	grid-column: 1 / 2;
	grid-row: 13 / 14;
	margin-left: 35px;
	margin-top: 35px;
	background-color: rgba(224, 212, 185, 0.8);

}

.berthe-info {
	font-size: 16px;
	line-height: normal;
}

.berthe-img-1 {
	padding-top: 12em;
	padding-right: 2em;
	padding-left: 2em;
	padding-bottom: 2em;
	grid-column: 2 / 3;
	grid-row: 13 / 14;
	margin-right: 35px;
	margin-top: 35px;
	background-color: rgba(224, 212, 185, 0.8);

}

.berthe-img-2 {
	padding: 2em;
	grid-column: 1 / 2;
	grid-row: 14 / 15;
	margin-left: 35px;
	margin-bottom: 35px;
	background-color: rgba(224, 212, 185, 0.8);

}

.berthe-img-3 {
	padding: 2em;
	grid-column: 2 / 3;
	grid-row: 14 / 15;
	margin-right: 35px;
	margin-bottom: 35px;
	background-color: rgba(224, 212, 185, 0.8);
}

.pierre {
	padding: 2em;
	line-height: 2em;
	font-size: 35px;
	grid-column: 2 / 3;
	grid-row: 15 / 16;
	margin-right: 35px;
	margin-top: 35px;
	background-color: rgba(224, 212, 185, 0.8);

}

.pierre-info {
	font-size: 16px;
	line-height: normal;
}

.pierre-img-1 {
	padding: 2em;
	grid-column: 1 / 2;
	grid-row: 15 / 16;
	margin-left: 35px;
	margin-top: 35px;
	background-color: rgba(224, 212, 185, 0.8);

}

.pierre-img-2 {
	padding: 2em;
	grid-column: 2 / 3;
	grid-row: 16 / 17;
	margin-right: 35px;
	margin-bottom: 35px;
	background-color: rgba(224, 212, 185, 0.8);

}

.pierre-img-3 {
	padding: 2em;
	grid-column: 1 / 2;
	grid-row: 16 / 17;
	margin-left: 35px;
	margin-bottom: 35px;
	background-color: rgba(224, 212, 185, 0.8);

}
.cassat {
	padding: 2em;
	line-height: 2em;
	font-size: 35px;
	grid-column: 1 / 2;
	grid-row: 17 / 18;
	margin-left: 35px;
	margin-top: 35px;
	background-color: rgba(224, 212, 185, 0.8);

}

.cassat-info {
	font-size: 16px;
	line-height: normal;
}

.cassat-img-1 {
	padding: 2em;
	grid-column: 2 / 3;
	grid-row: 17 / 18;
	margin-right: 35px;
	margin-top: 35px;
	background-color: rgba(224, 212, 185, 0.8);

}

.cassat-img-2 {
	padding: 2em;
	grid-column: 1 / 2;
	grid-row: 18 / 19;
	margin-left: 35px;
	margin-bottom: 35px;
	background-color: rgba(224, 212, 185, 0.8);

}

.cassat-img-3 {
	padding: 2em;
	grid-column: 2 / 3;
	grid-row: 18 / 19;
	margin-right: 35px;
	margin-bottom: 35px;
	background-color: rgba(224, 212, 185, 0.8);

}

.gustave {
	padding: 2em;
	line-height: 2em;
	font-size: 35px;
	grid-column: 2 / 3;
	grid-row: 19 / 20;
	margin-right: 35px;
	margin-top: 35px;
	background-color: rgba(224, 212, 185, 0.8);

}

.gustave-info {
	font-size: 16px;
	line-height: normal;
}

.gustave-img-1 {
	padding-top: 12em;
	padding-right: 2em;
	padding-left: 2em;
	padding-bottom: 2em;	grid-column: 1 / 2;
	grid-row: 19 / 20;
	margin-left: 35px;
	margin-top: 35px;
	background-color: rgba(224, 212, 185, 0.8);

}

.gustave-img-2 {
	padding: 2em;
	grid-column: 2 / 3;
	grid-row: 20 / 21;
	margin-right: 35px;
	margin-bottom: 35px;
	background-color: rgba(224, 212, 185, 0.8);

}

.gustave-img-3 {
	padding: 2em;
	grid-column: 1 / 2;
	grid-row: 20 / 21;
	margin-left: 35px;
	margin-bottom: 35px;
	background-color: rgba(224, 212, 185, 0.8);

}

/* ------------------------------------------------------------ */
/* start beginings page */
/* ------------------------------------------------------------ */




.beginnings-heading {
	font-family: "Jomolhari", 'Raleway', Helvetica, Arial, sans-serif;
	line-height: 1em;
	color: #222;
	padding-bottom: 0;
	margin-top: -1em;
	color: #E0D4B9;
	font-size: 130px;
}

.headings-beginnings {
	background-image-align: center;
	margin-left: 0;
	margin-right: 0;
	padding: 2em;
	text-align: center;
	width: 100%;
	background-image: url("../img/edited-Pissarro—Old_Chelsea_Bridge.jpg");
	height: 500px;
}

.beginnings {
	font-size: 16px;
	color: #22354B;
}

.body-text-beginnings {
	line-height: 1.5em;
	color: #22354B;
	font-family: 'Raleway';
	font-size: 16px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 2em;
}

.intro-beginnings {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	padding: 2em;
}

.academie1 {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	padding: 2em;
}
.intro-pullquote {
	font-size: 25px;
	text-align: center;
	grid-column: 1 / 3;
	grid-row: 2 / 3;
	color: rgba(251, 251, 251 0.6);
	margin-left: 2em;
	margin-right: 2em;
	padding: 2em;
}

.academie-img-1 {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	padding: 2em;
}

.academie2 {
	grid-column: 2 / 3;
	grid-row: 4 / 5;
	padding: 2em;
}

.luncheon-img {
	grid-column: 1 / 2;
	grid-row: 4 / 5;
	padding: 2em;
	margin-top: 4em;
}

.petition {
	grid-column: 1 / 2;
	grid-row: 5 / 6;
	padding: 2em;
}

.first-exhibition-img {
	grid-column: 2 / 3;
	grid-row: 5 / 6;
	padding: 2em;
}

.leroy-pullquote {
	font-size: 25px;
	text-align: center;
	grid-column: 1 / 3;
	grid-row: 6 / 7;
	color: rgba(251, 251, 251 0.6);
	margin-left: 2em;
	margin-right: 2em;
	padding: 2em;
}

.impressionists-start {
	grid-column: 1 / 2;
	grid-row: 7 / 8;
	padding: 2em;
}

.impressionism-continue {
	grid-column: 2 / 3;
	grid-row: 7 / 8;
	padding: 2em;
}



/* ------------------------------------------------------------ */
/* start techniques page */
/* ------------------------------------------------------------ */




.techniques {
	font-family: "Jomolhari", "Raleway", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #222;
}

.headings-techniques {
	background-image-align: center;
	margin-left: 0;
	margin-right: 0;
	padding: 2em;
	text-align: center;
	width: 100%;
	background-image: url("../img/edited-Meadow,_Alfred_Sisley,_1875.jpg");
	height: 500px;
}

.techniques h1 {
	font-family: "Jomolhari";
	padding: .5em;
	font-size: 130px;
	color: #22354B;
	text-align: center;
}

.techniques-body-text {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-family: "Raleway";
}

.techniques-intro {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	padding: 2em;
	width: 60%;
	margin-left: 15%;
	margin-right: 15%;
	text-align:center;
}

.list-intro {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	padding: 2em;
}

.technique-img-1 {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	padding: 2em;
}

.technology {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	padding: 2em;
}

.new-tech-img {
	padding: 2em;
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}

.composition {
	grid-column: 1 / 2;
	grid-row: 4 / 5;
	padding: 2em;
}

.technique-img-composition {
	grid-column: 2 / 3;
	grid-row: 4 / 5;
	padding: 2em;
}

.photography {
	grid-column: 2 / 3;
	grid-row: 5 / 6;
	padding: 2em;
}

.photography-influence-img {
	grid-column: 1 / 2;
	grid-row: 5 / 6;
	padding: 2em;
}

.japanese-influence {
	grid-column: 1 / 2;
	grid-row: 6 / 7;
	padding: 2em;
}

.japanese-influence-img {
	padding: 2em;
	grid-column: 2 / 3;
	grid-row: 6 / 7;
}





/* ------------------------------------------------------------ */
/* start influence page */
/* ------------------------------------------------------------ */




.influence {
	font-family: "Jomolhari", 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #222;
}

.headings-influence {
	background-image-align: center;
	margin-left: 0;
	margin-right: 0;
	padding: 2em;
	text-align: center;
	width: 100%;
	background-image: url("../img/Camille_Pissarro_-_Boulevard_Montmartre_-_Eremitage.jpg");
	height: 500px;
}

.influence h1 {
	font-family: 'Jomolhari';
	padding: .5em;
	font-size: 130px;
	color: #22354B;
	text-align: center;
}

h2 {
	line-height: 1em;
}

.associates-and-influenced-artists1 {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	padding: 2em;
}

.associates-img {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	padding: 2em;
	margin-top: 4em;
}

.post-impressionism {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	padding: 2em;
}

.post-impressionism-img {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	padding: 2em;
}

.influence-body-text {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 1em;
	font-family: "Raleway";





}

}

/* ------------------------------------------------------------ */
/* media query containing styles for larger screens */
@media (min-width: 720px) {

	/* container on larger screens */
	.container {
		width: 100%;
		max-width: 2000px;
	}

} /* end media query */
